body{
    background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
    fallback: monospace;
    padding: 0% 2%;
}


#two{
    display: flex;
    height: 100%;
    width: 30%;
    padding: 0%;
    margin: 0.8%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(223, 222, 209);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#zero, #one{
    color: rgb(238, 237, 200);
    background-color: rgb(104, 109, 92);
    display: flex;
    height: 100%;
    width: 40%;
    padding: 0.3%;
    margin: 0%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#borderone{
    border: 2px solid rgb(37, 37, 37);
    background-color: rgb(121, 121, 121);
    padding-top: 1%;
}

.button{
    position:absolute;
    display: flex;
    background-color: rgb(233, 233, 233);
    width: fit-content;
    padding: 1%;
    margin: 3%;
    border: rgb(37, 37, 37) solid 2px;
    transition: transform 0.35s ease-out;
        a:link, a:visited, a:hover, a:active{
            color: rgb(29, 28, 37);
        }
    }
    .button:hover{
        background-color: rgb(224, 250, 214);
        transform: scale(1.1);
    }

#personallinks{
    display: inline;
    font-size: larger;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-left: 25%;
    margin-bottom: 1%;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    width: 15rem;
    margin-top: 2%;
    transition: transform 0.35s ease-out;
}
    #personallinks:hover{
        background-color: rgb(224, 250, 214);
        color: rgb(46, 49, 42);
        transform: scale(1.1);
        }

.dropdownone{
    display: inline;
    a:link, a:visited, a:hover, a:active{
            color: rgb(0, 0, 0);
        }
}

#three, #four{
    color: rgb(216, 247, 247);
    background-color: rgb(92, 109, 107);
    display: flex;
    height: 100%;
    width: 40%;
    padding: 0.3%;
    margin: 0%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#five{
    display: flex;
    height: 100%;
    width: 30%;
    padding: 0%;
    margin: 0.8%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(209, 221, 223);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#other{
    font-size: larger;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-left: 75%;
    margin-bottom: 1%;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    width: 15rem;
    margin-top: auto;
    transition: transform 0.35s ease-out;
}
    #other:hover{
        background-color: rgb(224, 250, 214);
        color: rgb(46, 49, 42);
        transform: scale(1.1);
        }

label[for="dropdowns"]{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left: 4.8%;
}

#pfp{
    display: block;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    cursor: auto;
    margin-top: 1.5%;
    margin-bottom: 2.2%;
}
.subhead{
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    width: 270px;
    height: 60px;
    text-align: center;
    justify-content: center;
}

#emailcontainer{
    position: absolute;
    margin: 3%;
}

#gmaillogo{
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.15s ease-out;
        background-color: rgb(255, 255, 255);
}
    #gmaillogo:hover{
        transform: scale(1.1);
    }

#opaquetext{
    color: hsla(0, 0%, 100%, 0);
}

#emailbutton{
    all: unset;
    width: 70px;
    height: 70px;
}

#nocursor{
    cursor: auto;
}

.buttontwo{
    position:absolute;
    margin-top: 3%;
    background-color: rgb(233, 233, 233);
    width: fit-content;
    padding: 1%;
    margin-left: 25%;
    border: rgb(37, 37, 37) solid 2px;
    transition: transform 0.35s ease-out;
        a:link, a:visited, a:hover, a:active{
            color: rgb(29, 28, 37);
        }
    }
    .buttontwo:hover{
        background-color: rgb(224, 250, 214);
        transform: scale(1.1);
    }

#extralinks{
    margin-top: 1%;
    z-index: 2;
    font-family: cursive;
    position: absolute;
    margin-left: 70%;
    background-color: hsla(0, 0%, 79%, 0.678);
    width: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    cursor: alias;
}

.dropdown{
    font-weight: bold;
}

.dropdowncontent{
    display: inline-block;

    padding: 5%;
    font-weight: 700;
    a:link, a:visited, a:hover, a:active{
            color: rgb(45, 43, 61);
    }
    text-decoration: none;
}


.dropdowncontent:hover{
    background-color: hsla(103, 78%, 91%, 0.603);
    color: rgb(37, 41, 31);
}

#dropdowncontent{
    display: none;
}

#extralinks:hover #dropdowncontent{
    display: block;
}

.buttonthree{
    margin-top: 3%;
    position:absolute;
    background-color: rgb(233, 233, 233);
    width: fit-content;
    padding: 1%;
    margin-left: 48%;
    border: rgb(37, 37, 37) solid 2px;
    transition: transform 0.35s ease-out;
        a:link, a:visited, a:hover, a:active{
            color: rgb(29, 28, 37);
        }
    }
    .buttonthree:hover{
        background-color: rgb(224, 250, 214);
        transform: scale(1.1);
    }

.buttonfour{
    margin-top: 3%;
    position:absolute;
    background-color: rgb(233, 233, 233);
    width: fit-content;
    padding: 1%;
    margin-left: 73%;
    border: rgb(37, 37, 37) solid 2px;
    transition: transform 0.35s ease-out;
    z-index: 1;
        a:link, a:visited, a:hover, a:active{
            color: rgb(29, 28, 37);
        }
    }
    .buttonfour:hover{
        background-color: rgb(224, 250, 214);
        transform: scale(1.1);
    }

.buttonfive{
    position:absolute;
    display: flex;
    background-color: rgb(233, 233, 233);
    width: fit-content;
    padding: 1%;
    margin: 3%;
    margin-top: 18%;
    border: rgb(37, 37, 37) solid 2px;
    transition: transform 0.35s ease-out;
        a:link, a:visited, a:hover, a:active{
            color: rgb(29, 28, 37);
        }
    }
    .buttonfive:hover{
        background-color: rgb(224, 250, 214);
        transform: scale(1.1);
    }

#endtext{
    display: inline-block;
    margin-top: 30%;
}

#nobackground{
    background-color: rgb(255, 255, 255);
}

#stopreadingthistext{
    all: unset;
}